<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>ProdAndes</display-name>
 <servlet>
  <display-name>ServletRF12</display-name>
  <servlet-name>ServletRF12</servlet-name>
  <servlet-class>prodAndes.servlets.ServletRF12</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletRF14</servlet-name>
  <servlet-class>prodAndes.servlets.ServletRF14</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletRF10</servlet-name>
  <servlet-class>prodAndes.servlets.ServletRF10</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletRF11</servlet-name>
  <servlet-class>prodAndes.servlets.ServletRF11</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletRFC1</servlet-name>
  <servlet-class>prodAndes.servlets.ServletRFC1</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletRF13</servlet-name>
  <servlet-class>prodAndes.servlets.ServletRF13</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletRFC5</servlet-name>
  <servlet-class>prodAndes.servlets.ServletRFC5</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletRF17</servlet-name>
  <servlet-class>prodAndes.servlets.ServletRF17</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletLOGIN</servlet-name>
  <servlet-class>prodAndes.servlets.ServletLOGIN</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletRFC10</servlet-name>
  <servlet-class>prodAndes.servlets.ServletRFC10</servlet-class>
 </servlet>
  <servlet>
  <servlet-name>ServletRFC8</servlet-name>
  <servlet-class>prodAndes.servlets.ServletRFC8</servlet-class>
 </servlet>
  <servlet>
  <servlet-name>ServletRFC9</servlet-name>
  <servlet-class>prodAndes.servlets.ServletRFC9</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletRFC11</servlet-name>
  <servlet-class>prodAndes.servlets.ServletRFC11</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ServletRF12</servlet-name>
  <url-pattern>/RF12.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletRF14</servlet-name>
  <url-pattern>/RF14.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletRF10</servlet-name>
  <url-pattern>/RF10.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletRF11</servlet-name>
  <url-pattern>/RF11.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletRFC1</servlet-name>
  <url-pattern>/RFC1.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletRF13</servlet-name>
  <url-pattern>/RF13.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletRFC5</servlet-name>
  <url-pattern>/RFC5.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletRF17</servlet-name>
  <url-pattern>/RF17.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletLOGIN</servlet-name>
  <url-pattern>/LOGIN.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletRFC10</servlet-name>
  <url-pattern>/RFC10.htm</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>ServletRFC8</servlet-name>
  <url-pattern>/RFC8.htm</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>ServletRFC9</servlet-name>
  <url-pattern>/RFC9.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletRFC11</servlet-name>
  <url-pattern>/RFC11.htm</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  <welcome-file>index.htm</welcome-file>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>default.html</welcome-file>
  <welcome-file>default.htm</welcome-file>
  <welcome-file>default.jsp</welcome-file>
 </welcome-file-list>
</web-app>
